
<html lang="en" ng-app="apollo" ng-controller="menuCtrl">
  <head>
    <link href="./bower_components/foundation-5/css/normalize.css" rel="stylesheet"/>
    <link href="./bower_components/foundation-5/css/foundation.css" rel="stylesheet"/>
    <link href="./bower_components/pixeden-stroke-7-icon/pe-icon-7-stroke/css/helper.css" rel="stylesheet"/>
    <link href="./bower_components/pixeden-stroke-7-icon/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet"/>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-foundation/mm-foundation-tpls.js"></script>
    <script src="./bower_components/angular-foundation/mm-foundation.js"></script>
    <script src="./bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./assets/js/database.js"></script>
    <script src="./assets/js/app.js"></script>
    <link ng-href="./assets/css/{{ theme }}.css" rel="stylesheet"/>
    <script>
      win.on('close', function() {
        this.hide(); // Pretend to be closed already
        console.log("We're closing...");
        this.close(true);
      });
      
      
    </script>
  </head>
  <body>
    <div class="top">
      <div class="topbar"> 
        <div class="small-4 large-4 columns"><span class="left frame"><a href="javascript:void(0)" onclick="win.close();"><i class="pe-7s-close pe-3x"></i></a></span><span class="left frame"><a href="javascript:void(0)" onclick="win.minimize();"><i class="pe-7s-close pe-3x"></i></a></span><span class="left frame"><a href="javascript:void(0)" onclick="win.maximize();"><i class="pe-7s-close pe-3x"></i></a></span>
        </div>
        <div class="small-4 large-4 columns center"> 
          <h5>APOLLO</h5>
        </div>
        <div class="small-4 large-4 columns right"> <a href="javascript:void(0)" ng-click="menu = !menu" ng-hide="settings"><i class="pe-7s-menu pe-2x">         </i></a><a href="javascript:void(0)" ng-click="settings = !settings" ng-show="settings"><i class="pe-7s-close pe-3x closeRight"></i></a></div>
      </div>
      <div class="content">
        <div ng-show="menu" class="menu fadeDown">
          <div class="row center">
            <div class="columns large-4 small-4 inputCtrl">
              <div class="inputWrapper center"><i class="pe-7s-plus pe-2x">
                  <input type="file" accept=".xml" onchange="angular.element(this).scope().importItunes(this);" class="fileInput"/></i></div>
            </div>
            <div class="columns large-4 small-4">
              <div class="menuIcon"><a href="javascript:void(0)" ng-click="playlistFocus = !playlistFocus"><i class="pe-7s-loop pe-2x"></i></a></div>
            </div>
            <div class="columns large-4 small-4">
              <div href="javascript:void(0)" ng-click="settings = !settings" class="menuIcon center"><a><i class="pe-7s-config pe-2x"></i></a></div>
            </div>
          </div>
        </div>
        <div sticky-table-header="sticky-table-header" rows="rowCollection" disabled="expression" class="music">
          <table ng-class="{blurOut: focus}">
            <thead>
              <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Year              </th>
                <th>Genre              </th>
                <th>Play Count</th>
              </tr>
            </thead>
            <tbody ng-if="populated">
              <tr ng-repeat="song in library" ng-click="getSong(song)">
                <td>{{song.Name}}</td>
                <td>{{song.Artist}}              </td>
                <td>{{song.Album}}</td>
                <td>{{song.Year}}</td>
                <td>{{song.Genre}}</td>
                <td>{{song["Play Count"]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div ng-show="settings" class="settings fadeIn center">
          <h4>THEME:</h4>
          <div class="select-style center">
            <select ng-model="theme" ng-options="theme as theme for theme in themes"></select>
          </div><br/><br/>
          <div ng-show="localVersion &lt; currentVersion" class="update">
            <h4>Apollo is Out of Date. </h4>
            <h5>Go to apolloplaylists.herokuapp.com to learn about upgrading.</h5>
          </div>
        </div>
        <div ng-show="waiting" class="waiting fadeIn center">
          <div id="loading"><span></span><span></span><span></span>
          </div>
        </div>
        <div ng-show="focus" ng-click="unBlur()" class="focusBlur fadeIn"></div>
        <div ng-show="alert" ng-click="alert = !alert" class="alert fadeIn">
          <div class="message center block">
            <div class="content centered">   
              <h4> <i class="pe-7s-link pe-2x pe-va"></i>{{alertMessage}}</h4>
            </div>
          </div>
        </div>
        <div ng-show="focus" ng-click="addSong = ''" class="focus fadeIn">
          <div ng-click="focus = !focus" class="close"><i class="pe-7s-close pe-3x pe-va"></i></div>
          <div class="row">
            <div class="columns large-6 small-6">
              <div class="songID">
                <h1 data-fittext-max="30px">{{selectedSong.Name}}</h1>
                <h3>{{selectedSong.Artist}}  </h3>
                <h4>{{selectedSong.Album}}</h4>
                <input type="text" ng-model="addSong"/><br/><br/>
                <div ng-if="addSong" class="bubble">
                  <p ng-if="addSong &amp;&amp; (library | filter:addSong).length &gt; 6" class="seeMore">
                     
                    See {{ (library | filter:addSong).length - 6}} More Results.
                  </p>
                  <div ng-repeat="song in dogs = (library | filter:addSong | limitTo:6)" class="container"> 
                    <p ng-click="addLink(song);"> {{song.Name}} - {{song.Artist}}</p>
                  </div>
                  <p ng-if="addSong &amp;&amp; (library | filter:addSong).length &gt; 6" class="indent">...</p>
                  <p ng-if="addSong &amp;&amp; (library | filter:addSong).length == 0" class="indent">No Results</p>
                </div>
              </div>
              <div class="links">
                <p ng-repeat="song in selectedSong.Children">{{song._id}}</p>
              </div>
            </div>
            <div class="columns large-6 small-6">
              <div class="info">
                <div ng-repeat="child in currentSongChildren" class="child"><span>
                    <p><i ng-click="removeChild(child)" class="pe-7s-close pe-va pe-2x"></i>{{child.Name}} - {{child.Artist}}</p></span></div>
              </div>
            </div>
          </div>
          <div class="bottomBar">
            <div class="row">
              <div class="columns large-6 small-6">
                <div ng-click="generatePlaylist(selectedSong._id);" class="bottomButton center"><a> <i class="pe-7s-musiclist pe-va pe-2x"></i>Make Playlist (25)</a></div>
              </div>
              <div class="columns large-6 small-6">
                <div ng-click="delete(selectedSong._id);" class="bottomButton center"><a> <i class="pe-7s-trash pe-va pe-2x"></i>Delete From Apollo</a></div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="load" class="load fadeIn center">
          <h1>APOLLO</h1>
          <div id="loading"><span></span><span></span><span></span>
          </div>
        </div>
      </div>
    </div>
    <script>
      var gui = require('nw.gui');
      var mb = new gui.Menu({type:"menubar"});
      mb.createMacBuiltin("your-app-name");
      gui.Window.get().menu = mb;
    </script>
  </body>
</html>