@font-face {
  font-family: raleway-thin;
  src: url(../fonts/raleway-thin.ttf);
}
@font-face {
  font-family: raleway-regular;
  src: url(../fonts/raleway-regular.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: raleway-thin;
}
.left {
  text-align: left;
  /*background-color: blue;*/
}
.center {
  text-align: center;
  /*background-color: green;*/
}
.right {
  text-align: right;
  /*background-color: yellow;*/
}
.row {
  max-width: none;
}
.topbar {
  background-color: #e74c3c;
  cursor: default;
  -webkit-app-region: drag;
  z-index: 10;
  position: relative;
  height: 60px;
  padding-top: 14px;
  padding-right: 5px;
  padding-left: 5px;
}
.topbar h1,
.topbar h2,
.topbar h3,
.topbar h4,
.topbar h5,
.topbar h6,
.topbar i {
  color: white;
  cursor: default;
}
.topbar i {
  -webkit-app-region: no-drag;
  cursor: pointer;
}
.topbar .switch {
  margin-top: 4px;
  -webkit-app-region: no-drag;
}
.topbar .frame {
  padding-right: 10px;
}
.topbar .logo {
  width: 100px;
}
.content {
  -webkit-app-region: no-drag;
}
.menu {
  border-bottom: 1px #eeeeee solid;
  position: relative;
  background-color: white;
  height: 50px;
  width: 100%;
  /*padding-top: 5px;*/
  z-index: 9;
}
.menu a {
  color: black;
}
.menu .column,
.menu .columns {
  padding-right: 0px;
  padding-left: 0px;
}
.sideBar {
  border-right: 1px solid #eeeeee;
  background-color: white;
  position: absolute;
  bottom: 0px;
  top: 60px;
  width: 300px;
  z-index: 8;
}
.music {
  position: absolute;
  overflow: scroll;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  top: 60px;
  -webkit-transition: 0.1s linear all;
  -webkit-app-region: no-drag;
}
.music table {
  border: 1px solid white;
}
.downset {
  margin-top: 50px;
  -webkit-transition: 0.1s linear all;
}
.offset {
  margin-left: 300px;
}
.blur {
  position: absolute;
  top: 60;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
}
.faded {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 10px 10px 22px -13px rgba(0, 0, 0, 0.42);
  height: 100%;
}
.menuIcon,
.inputWrapper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
  height: 100%;
  width: 100%;
  padding-top: 7px;
  position: relative;
  cursor: pointer;
  /*border-radius: 50px;*/
  -webkit-transition: background-color 0.2s, color 0.2s;
  /*  i {
    -webkit-transition: color 0.2s; 
  }*/
}
.menuIcon:hover,
.inputWrapper:hover {
  background-color: #dedede;
  -webkit-transition: background-color 0.2s;
  /* i {
      color: white;
      -webkit-transition: color 0.2s;
    }*/
}
.fileInput {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  font-size: 50px;
  opacity: 0;
}
.inputCtrl {
  padding-right: 50px;
  padding-left: 14%;
}
.albumArt {
  width: 300px;
  padding: 10px;
}
.info {
  padding: 10px;
  padding-top: 0px;
}
.info h2,
.info h3 {
  font-family: raleway-regular;
  line-height: 10px;
  text-transform: uppercase;
}
.info h2 {
  font-size: 16px;
}
.info h3 {
  font-size: 14px;
}
hr {
  margin: 0;
  padding: 0;
}
.add {
  background-color: #e74c3c;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  margin-left: 80px;
  position: relative;
  top: -10px;
  z-index: 4;
}
.add h1 {
  color: white;
  padding: 0px;
  margin: 0px;
  line-height: 31px;
}
.bottom {
  background-color: #fefefe;
  height: 100%;
  position: relative;
  top: -27px;
  z-index: 3;
}
.settings {
  position: absolute;
  top: 60px;
  z-index: 99999;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e74c3c;
}
.waiting {
  position: absolute;
  z-index: 555;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
}
.waiting #loading {
  position: absolute;
  top: 35%;
}
.load {
  position: absolute;
  z-index: 555;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e74c3c;
  padding-top: 20%;
  /*margin-bottom: auto;*/
}
.load h1 {
  font-size: 70px;
  color: white;
}
.closeRight {
  padding-right: 7px;
  line-height: 30px !important;
}
.hidden {
  opacity: 0;
}
/*ANIMATIONS*/
/*SlideDown - SubMenu*/
.fadeDown {
  top: 0px;
  overflow: hidden;
}
.fadeDown.ng-hide {
  top: -50px;
}
.fadeDown.ng-hide-add,
.fadeDown.ng-hide-remove {
  -webkit-transition: 0.1s linear all;
}
/*Opacity In*/
.fadeIn,
.fadeInLonger {
  opacity: 1;
}
.fadeIn.ng-hide,
.fadeInLonger.ng-hide {
  opacity: 0;
}
.fadeIn.ng-hide-add,
.fadeIn.ng-hide-remove {
  -webkit-transition: 0.1s linear all;
}
.fadeInLonger.ng-hide-add,
.fadeInLonger.ng-hide-remove {
  -webkit-transition: 0.5s linear all;
}
/*SlideRight-PullOut*/
.slideRight {
  left: 0px;
  overflow: hidden;
}
.slideRight.ng-hide {
  left: -300px;
}
.slideRight.ng-hide-add,
.slideRight.ng-hide-remove {
  -webkit-transition: 0.1s linear all;
}
.sideBarContainer {
  -webkit-transition: 0.1s linear all;
}
.tooltip {
  position: absolute;
  color: #fff;
  background: #000;
  border-radius: 3px;
  padding: 10px 20px;
  display: inline-block;
}
.tooltip.ng-enter {
  opacity: 0;
  transition: opacity 1s;
}
.tooltip.ng-enter-active {
  opacity: 1;
}
/**
  Developed and tested on Chrome
  twitter@codeams,
  http://codeams.tk
*/
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 54px 0 0 -63px;
}
#loading span {
  width: 32px;
  height: 32px;
  float: left;
  border-radius: 50%;
  opacity: 0.2;
  background-color: #e0e0e0;
}
#loading span:not(:first-child) {
  margin-left: 14px;
}
#loading span:first-child {
  -webkit-animation: fball 1350ms infinite linear;
  animation: fball 1350ms infinite linear;
}
#loading span:nth-child(2) {
  -webkit-animation: sball 1350ms infinite linear;
  animation: sball 1350ms infinite linear;
}
#loading span:last-child {
  -webkit-animation: tball 1350ms infinite linear;
  animation: tball 1350ms infinite linear;
}
@-webkit-keyframes fball {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  13% {
    opacity: 0.9;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  26% {
    opacity: 1;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  34% {
    opacity: 0.2;
  }
}
@keyframes fball {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  13% {
    opacity: 0.9;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  26% {
    opacity: 1;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  34% {
    opacity: 0.2;
  }
}
@-webkit-keyframes sball {
  32% {
    opacity: 0.2;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  33% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  46% {
    opacity: 0.9;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  59% {
    opacity: 1;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  66% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  67% {
    opacity: 0.2;
  }
}
@keyframes sball {
  32% {
    opacity: 0.2;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  33% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  46% {
    opacity: 0.9;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  59% {
    opacity: 1;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  66% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  67% {
    opacity: 0.2;
  }
}
@-webkit-keyframes tball {
  67% {
    opacity: 0.2;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  68% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  81% {
    opacity: 0.9;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  94% {
    opacity: 1;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes tball {
  67% {
    opacity: 0.2;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  68% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  81% {
    opacity: 0.9;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
  94% {
    opacity: 1;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
